	/* 
	HEADER
	*/
	$red: #e62044;
	$black: #000;
	$light-black: #161718;
	$gray: #a9a9a9;
	$white: #fff;

	header {
		background-color: $light-black;
		height: 80px;
		padding-top: 26px;
		a {
			text-decoration: none;
			font-size: 11px;
			color: $white;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:hover {
	    	color: $red;
	    }
			img {
				width: 31px;
				float: left;
			}
			h2 {
				float: left;
				line-height: 25px;
				margin-left: 15px;
				letter-spacing: 1.5px;
			}
		}
		#menu {
			float: right;
			margin-top: 7px;
			li {
				display: inline;
				margin-left: 25px;
				a {
					font-size: 13px;
					background-color: $red;
					padding: 8px 15px;
					border-radius: 3px;
					&:hover {
						color: $light-black;
					}
				}
			}
		}
	}

	/* 
	HOME
	*/
	#home {
		height: 380px;
		float: left;
		#banner {
			height: 100%;
			background: url(../img/banner.jpg) no-repeat center center;
			background-size: cover;
		}
		h1 {
			font-family: oswald-demibold;
			text-transform: uppercase;
			font-size: 69px;
			letter-spacing: 5px;
			line-height: 75px;
			position: absolute;
			top: 25%;
		}
		p {
			position: absolute;
			top: 67%;
			font-family: 'Raleway';
			font-weight: 300;
			font-size: 15px;
			line-height: 18px;
		}
	}
	
	/* 
	Home Reference
	*/
	#home-reference {
		background: $light-black;
		min-height: 300px;
		float:left;
		text-align: center;
		img {
			margin-top: 65px;
			height: 170px;
			float: left;
		}
		h2 {
			font-family: oswald-demibold;
			font-size: 20px;
			letter-spacing: 1.5px;
			line-height: 20px;
			position: relative;
			top: 125px;
		}
		p {
			font-size: 14px;
			position: relative;
			top: 135px;
		}
	}
	
	/* 
	Home Join
	*/
	#home-join {
		height: 300px;
		min-height: 300px;
		background: $black;
		text-align: center;
		h2 {
			float: left;
			font-family: oswald-demibold;
			font-size: 69px;
			text-transform: uppercase;
			margin-top: 50px;
		}
		a {
			text-decoration: none;
			font-size: 16px;
			color: $white;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
			background-color: $red;
			padding: 11px 65px;
			border-radius: 3px;
			position: relative;
			top: 140px;
			left: 50px;
			&:hover {
				color: $light-black;
			}
		}
	}
	

	/* 
	Footer
	*/
	#footer {
		padding-top: 40px;
		.foot-header {
			font-family: oswald-demibold;
			font-size: 16px;
			text-transform: uppercase;
		}
		#about {
			float: left;
			margin-right: 40px;
		}
		#contact {
			float: left;
		}
		a {
			font-size: 14px;
			color: $gray;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:hover {
	    	color: $red;
	    }
		}
		li {
			margin-bottom: 5px;
		}
		#copy-r {
			float: right;
			font-size: 8px;
			font-weight: 300;
			line-height: 30px;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:hover {
	    	font-size: 20px;
	    	cursor: none;
	    }
		}
	}

/*------------------------------- 
SIGN UP
-------------------------------*/

#sign-up {
	min-height: 74.35%;
	background-color: $black;
	padding-top: 45px;
	margin: 0 auto;
	h1 {
		text-align: center;
		font-size: 69px;
		font-family: oswald-demibold;
		text-transform: uppercase;
		margin-bottom: 85px;
	}
	.form-wrapper {
		width: 40%;
		margin: 0 auto;
		text-align: center;
		input {
			height: 50px;
			width: 100%;
			border: none;
			background-color: $light-black;
			color: $gray;
			font-size: 14px;
			margin-bottom: 30px;
			padding-left: 20px;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:focus {
	    	background-color: $red;
	    	color: $white;
	    }
		}
		textarea {
			min-height: 200px;
			max-width: 600px;
			overflow: scroll;	
			resize: none;
			float: left;
			wrap: off;
			width: 100%;
			border: none;
			background-color: $light-black;
			color: $gray;
			font-size: 14px;
			margin-bottom: 30px;
			padding-left: 20px;
			padding-top: 15px;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:focus {
	    	background-color: $red;
	    	color: $white;
	    }

		}
		.button {
    	background-color: $red;
    	padding: 13px 30px;
    	border-radius: 3px;
    	color: $white;
			float: left;
			font-size: 13px;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:hover {
	    	color: $black;
	    }
    }
	}
}

/*------------------------------- 
LOG IN 
-------------------------------*/

#log-in {
	min-height: 74.35%;
	background-color: $black;
	padding-top: 45px;
	margin: 0 auto;
	h1 {
		text-align: center;
		font-size: 69px;
		font-family: oswald-demibold;
		text-transform: uppercase;
		margin-bottom: 85px;
	}
	.form-wrapper {
		width: 40%;
		margin: 0 auto;
		text-align: center;
		input {
			height: 50px;
			width: 100%;
			border: none;
			background-color: $light-black;
			color: $gray;
			font-size: 14px;
			margin-bottom: 30px;
			padding-left: 20px;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:focus {
	    	background-color: $red;
	    	color: $white;
	    }
		}
		.button {
    	background-color: $red;
    	padding: 13px 30px;
    	border-radius: 3px;
    	color: $white;
			float: left;
			font-size: 13px;
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    &:hover {
	    	color: $black;
	    }
    }
	}
	.extra-links {
  	font-size: 14px;
  	color: $gray;
  	position: relative;
  	top: 60px;
  	right: 100px;
		-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    &:hover {
    	color: $red;
    }
  }
}

/*------------------------------- 
QUOTES
-------------------------------*/
#quote {
	min-height: 74.35%;
	background-color: $black;
	padding-top: 45px;
	margin: 0 auto;
	h1 {
		text-align: center;
		font-size: 69px;
		font-family: oswald-demibold;
		text-transform: uppercase;
		margin-bottom: 85px;
	}
	.quote { //testa gör alla links istället för divs? för hover.
		width: 31%;
		height: 110px;
		background-color: $light-black;
		border-radius: 5px;
		float: left;
		margin: 0px 1.5% 1.5% 0;
		padding: 20px 20px;
		a {
			-webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    transition: all 1s ease;
	    color: $white;
	    &:hover {
	    	color: $red;
	    }
			h2 {
				font-family: oswald-demibold;
				font-size: 16px;
				text-transform: uppercase;
				margin-bottom: 35px;
			}
			p {
				font-size: 11px;
				color: $red;
			}
		}
	}
}

/*------------------------------- 
SHOW POST
-------------------------------*/
#show_post {
	min-height: 74.35%;
	background-color: $black;
	padding-top: 45px;
	h1 {
		text-align: center;
		font-size: 69px;
		font-family: oswald-demibold;
		text-transform: uppercase;
		margin-bottom: 85px;
	}
	.content {
		width: 50%;
		margin: 0 auto;
		max-height: 250px;
		overflow: scroll;
		background-color: $light-black;
		border-radius: 5px;
		padding: 20px 20px;
		#content_date {
			font-size: 11px;
			color: $red;
			margin-bottom: 15px;
		}
		p {
			color: $white;
			font-size: 14px;
			line-height: 23px;
		}
	}
	a {
		color: $white;
		text-decoration: none;
		background-color: $red;
		padding: 10px 45px;
		position: relative;
		left: 307px;
		top: 30px;
		margin-right: 20px;
		border-radius: 5px;
		font-size: 11px;
		-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    &:hover {
    	color: $light-black;
    }
	}
}