/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: oswald-demibold;
    src: url(../font/Oswald-DemiBold.ttf);
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
$red: #e62044;
$black: #000;
$light-black: #161718;
$gray: #a9a9a9;
$white: #fff;

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	background: $light-black;
	color: #fff;
	section {
		width:100%;
		float:left;
		position:relative;
	}
	.wrapper {
		max-width: 58%;
		margin: 0 auto;
	}
	.wrapper-small {
		max-width: 48%;
		margin: 0 auto;
	}
	input:focus,
	select:focus,
	textarea:focus,
	button:focus,
	a:focus {
			outline: none;
	}
}
@import 'reset';

@media only screen and (min-width:1025px) { 
	@import 'main'
}